.pio/
build/
sdkconfig
sdkconfig.old
managed_components/*
!managed_components/espressif__esp_lcd_ili9341/
!managed_components/espressif__esp_lcd_ili9341/**
!managed_components/espressif__cmake_utilities/
!managed_components/espressif__cmake_utilities/**
roms/*.zip
roms/*.bin
roms/*.rom
roms/extracted/
artifacts/*.bin
artifacts/*.png
artifacts/*.ppm
.DS_Store
artifacts/packed-rtype/
artifacts/gfx-atlas/
artifacts/*.zip
artifacts/sequence-*/
artifacts/screenshots/
sdkconfig.*-rtype
sdkconfig.esp32-*
dependencies.lock
artifacts/cyd-preview/
artifacts/camera/
